CONFIG_EMBARK=y

#
# Embark general configuration
#
# CONFIG_EMBARK_DEBUG is not set
CONFIG_EMBARK_PROPAGATE_CONF=y
# CONFIG_TEST is not set
# end of Embark general configuration

#
# Project
#
CONFIG_PRODUCE_ELF=y
CONFIG_PRODUCE_COMPILE_COMMANDS=y
CONFIG_PROJECT_NAME="userfs"
CONFIG_PROJECT_VERSION="1.0"
CONFIG_BUILD_DIR="build"
CONFIG_PROJECT_KIND_EXECUTABLE=y
# CONFIG_PROJECT_KIND_LIBRARY is not set
# CONFIG_PROJECT_KIND_YOCTO is not set
# CONFIG_NATIVE is not set
CONFIG_CROSS=y
CONFIG_LINUX=y
# CONFIG_BARE_METAL is not set
# CONFIG_ZEPHYR is not set
# CONFIG_RTT is not set
CONFIG_CROSS_LINUX=y
CONFIG_DEFAULT_BUILD_TYPE_DEBUG=y
# CONFIG_DEFAULT_BUILD_TYPE_RELEASE is not set
# CONFIG_FETCHER_PREFERRED_GIT is not set
CONFIG_FETCHER_PREFERRED_ARCHIVE=y
# end of Project

#
# Languages Support
#
CONFIG_LANG_C=y
CONFIG_CLANGD=y
CONFIG_CLANG_FORMAT=y
CONFIG_CLANG_FORMAT_AUTOFORMAT=y
CONFIG_CLANG_FORMAT_STYLE_MODERN=y
# CONFIG_CLANG_FORMAT_STYLE_LEGACY is not set
# CONFIG_CLANG_FORMAT_STYLE_ZEPHYR is not set

#
# c-libraries
#
# CONFIG_LIB_MYLIB is not set
# CONFIG_LIB_MBEDTLS is not set
# end of c-libraries

CONFIG_ENTRY_SYMBOL="main"
CONFIG_MAIN_ARGS=y

#
# Compiler Configuration
#
CONFIG_CFLAGS_ALL=y
CONFIG_CFLAGS_EXTRA=y
CONFIG_CFLAGS_PEDANTIC=y
# CONFIG_CFLAGS_EVERYTHING is not set
# CONFIG_CFLAGS_WERROR is not set
CONFIG_CFLAGS_ADDITIONAL=""
# end of Compiler Configuration

# CONFIG_LANG_RUST is not set
# CONFIG_LANG_PYTHON is not set
CONFIG_LANG_HELLO_WORLD=y
# end of Languages Support

#
# Toolchain Configuration
#
# CONFIG_RUST_FFI is not set

#
# Build System Configuration
#
# CONFIG_BUILD_SYSTEM_NONE is not set
CONFIG_BUILD_SYSTEM_MESON=y
# CONFIG_BUILD_SYSTEM_CMAKE is not set
# CONFIG_BUILD_MAKE is not set
# end of Build System Configuration

# CONFIG_TOOLCHAIN_GCC is not set
CONFIG_TOOLCHAIN_YOCTO_SDK=y
CONFIG_TOOLCHAIN_YOCTO_SDK_PATH="/opt/ha/1.0"
CONFIG_ADDITIONAL_CFLAGS=""
CONFIG_SHELL="/bin/bash"
# CONFIG_ARCH_ARM is not set
CONFIG_ARCH_AARCH64=y
# CONFIG_ARCH_X86 is not set
# CONFIG_ARCH_RISCV is not set
# end of Toolchain Configuration

CONFIG_QEMU=y
CONFIG_QEMU_TYPE_USER=y
CONFIG_QEMU_SYSROOT_REQUIRED=y
CONFIG_QEMU_EXE="qemu-aarch64"
CONFIG_QEMU_DEBUG_PORT=1234
CONFIG_GDB_PATH="/usr/bin/gdb-multiarch"
CONFIG_PROBE_OPENOCD=y
CONFIG_DISASSEMBLY=y
CONFIG_ENV_FILE=y
CONFIG_GIT=y
CONFIG_GIT_DEFAULT_BRANCH="main"
# CONFIG_GIT_USER_CONFIG is not set
CONFIG_GIT_FIRST_COMMIT=y
CONFIG_GIT_FIRST_COMMIT_MESSAGE="First commit (with Embark !)"
CONFIG_GIT_ORIGIN=""
CONFIG_JUSTFILE=y
CONFIG_VSCODE=y
CONFIG_VSCODE_RECOMMENDED_EXTENSIONS=y
